/*------------------- Start General-------------- */

a {
    color: #0c6176;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #fad41b;
    text-decoration: none;
    background-color: transparent;
}

.h-30 {
    height: 30px;
}
/*------------------- End General-------------- */

/* ---------------------Custom Header---------------- */
.pb-3, .py-3 {
    padding-bottom: 0rem!important;
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}

.logo img{
	width:45%;
}

.navbar-collapse{
	background-color:#000;padding:3vh;
	background-color:#0c6176;
	color:#fff;
	border-bottom-left-radius:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
}

.nav-item{
	padding-top:.2em;
}

#mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    background-color: #fad41b;
	border-bottom: 3px solid #0c6176;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 0 1rem;
	padding:.5em;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fad41b;
    padding: 0 1rem;
	padding:.5em;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #fad41b;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fad41b!important;
}

/*--------------------------------------------------------- */

/* ---------------------CUstom Button----------------------- */
.btn-kp {
	background-color: #fad41b;
	color:#0c6176;
	border-radius: 40px 0px 0px 40px;
}
.btn-kp:hover{
	background-color: #0c6176;
	color:#fad41b;
	border:1px solid #fad41b;
	border-radius: 40px 0px 0px 40px;
}

.btn-light {
    color: #fad41b;
    background-color: #0c6176;
    border-color: #09404e;
}
.btn-light:hover {
    color: #0c6176;
    background-color: #fad41b;
    border:1px solid #0c6176;
}

/*---------------------------------------------------------*/

/* ---------------Background Color Section--------------- */

#about{
	background-color:#fff;
	border-bottom-left-radius: 150px;
}
#mitra{
	background-color:#0c6176;
	border-bottom-left-radius: 150px;
}

#berita{
	background-color:#fff;
	border-bottom-left-radius: 150px;
}

#bantuan{
	background-color:#0c6176;
	color:#fff;
}


hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #fad41b;
}

#download{
	background-color:#fad41b;
}
/* ------------------------------------------------- */




 /* ----------------- Bootstrap Lightbox using Modal---------------- */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}



.latest{}
.latest article{}
.latest article figure{display:block; position:relative; margin-bottom:5px;}
.latest article figure img{}
.latest article figure figcaption{position:absolute; bottom:10px; left:10px; width:50px;}
.latest article figure figcaption *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
.latest article figure figcaption time{width:100%;}
.latest article figure figcaption time strong{padding:12px 0; font-size:18px;}
.latest article figure figcaption time em{padding:8px 0;}
.latest article .txtwrap{}
.latest article .txtwrap .heading{margin:0; font-size:1.2rem;font-weight:bold;}
.latest article .txtwrap .meta{}
.latest article .txtwrap .meta li{display:inline-block; font-size:.8rem;}
.latest article .txtwrap .meta li::after{margin-left:5px; content:"/";}
.latest article .txtwrap .meta li:last-child::after{margin:0; content:"";}
.latest article .txtwrap p{}
.latest article .txtwrap footer{}

/*---------------------------------------------*/


/*-------------- Content Area ---------------*/
.latest article figure figcaption{
	color:#ffe14f;
}
.latest article figure figcaption time strong {
    background-color: #0c6176;
}
.latest article figure figcaption time em {
    background-color: #10424e;
}
/* --------------------------------------------*/


/*-------------- Start Carousel -------------*/

.d-block{
	width:20em;
}







/* .carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{ */
	/* display:block;max-width:100%;height:auto */
/* } */

/* .carousel{ */
	/* position:relative */
/* } */

/* .carousel-inner{ */
	/* position:relative;width:100%;overflow:hidden */
/* } */
.carousel-inner>.item{
	position:relative;display:none;-webkit-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left
}
/* .carousel-inner>.item>a>img,.carousel-inner>.item>img{ */
	/* line-height:1 */
/* } */

@media all and (transform-3d),(-webkit-transform-3d){
	.carousel-inner>.item{
		-webkit-transition:-webkit-transform .6s ease-in-out;
		-o-transition:-o-transform .6s ease-in-out;
		transition:-webkit-transform .6s ease-in-out;
		transition:transform .6s ease-in-out;
		transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;-webkit-backface-visibility:hidden;
		backface-visibility:hidden;
		-webkit-perspective:1000px;
		perspective:1000px
	}
	
	.carousel-inner>.item.active.right,.carousel-inner>.item.next{
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		left:0
	}
	
	.carousel-inner>.item.active.left,.carousel-inner>.item.prev{
		-webkit-transform:translate3d(-100%,0,0);
		transform:translate3d(-100%,0,0);
		left:0
	}
	
	.carousel-inner>.item.active,.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right{
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		left:0
	}
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
	display:block
}

/* .carousel-inner>.active{ */
	/* left:0 */
/* } */

.carousel-inner>.next,.carousel-inner>.prev{
	position:absolute;
	top:0;
	width:100%
}

/* .carousel-inner>.next{ */
	/* left:100% */
/* } */
/* .carousel-inner>.prev{ */
	/* left:-100% */
/* } */
/* .carousel-inner>.next.left,.carousel-inner>.prev.right{ */
	/* left:0 */
/* } */
/* .carousel-inner>.active.left{ */
	/* left:-100% */
/* } */
/* .carousel-inner>.active.right{ */
	/* left:100% */
/* } */
.carousel-control{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:15%;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background-color:rgba(0,0,0,0);
	filter:alpha(opacity=50);
	opacity:.5
}
.carousel-control.left{
	/* background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
	/* background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
	/* background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
	/* background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
	/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat:repeat-x */
}

.carousel-control.right{
	right:0;
	left:auto;
	/* background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
	/* background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
	/* background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
	/* background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
	/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);background-repeat:repeat-x */
}
/* .carousel-control:focus,.carousel-control:hover{ */
	/* color:#fff; */
	/* text-decoration:none; */
	/* outline:0; */
	/* filter:alpha(opacity=90); */
	/* opacity:.9 */
/* } */
/* .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{ */
	/* position:absolute; */
	/* top:50%; */
	/* z-index:5; */
	/* display:inline-block; */
	/* margin-top:-10px */
/* } */
/* .carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{ */
	/* left:50%; */
	/* margin-left:-10px */
/* } */
/* .carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{ */
	/* right:50%; */
	/* margin-right:-10px */
/* } */
/* .carousel-control .icon-next,.carousel-control .icon-prev{ */
	/* width:20px; */
	/* height:20px; */
	/* font-family:serif; */
	/* line-height:1 */
/* } */
/* .carousel-control .icon-prev:before{ */
	/* content:"\2039" */
/* } */
/* .carousel-control .icon-next:before{ */
	/* content:"\203a" */
/* } */
/* .carousel-indicators{ */
	/* position:absolute; */
	/* bottom:10px; */
	/* left:50%; */
	/* z-index:15; */
	/* width:60%; */
	/* padding-left:0; */
	/* margin-left:-30%; */
	/* text-align:center; */
	/* list-style:none */
/* } */
.carousel-indicators li{
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	cursor:pointer;
	background-color:#000\9;
	background-color:rgba(0,0,0,0);
	border:1px solid #fff;
	border-radius:10px
}
.carousel-indicators .active{
	width:12px;
	height:12px;
	margin:0;
	background-color:#fff
}
/* .carousel-caption{ */
	/* position:absolute; */
	/* right:15%; */
	/* bottom:20px; */
	/* left:15%; */
	/* z-index:10; */
	/* padding-top:20px; */
	/* padding-bottom:20px; */
	/* color:#fff; */
	/* text-align:center; */
	/* text-shadow:0 1px 2px rgba(0,0,0,.6) */
/* } */
/* .carousel-caption .btn{ */
	/* text-shadow:none */
/* } */

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

@media screen and (min-width:768px){
	.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{
		width:30px;
		height:30px;
		margin-top:-10px;
		font-size:30px
	}
	.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{
		margin-left:-10px
	}
	.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{
		margin-right:-10px
	}
	.carousel-caption{
		right:20%;
		left:20%;
		padding-bottom:30px
	}
	.carousel-indicators{
		bottom:20px
	}
}

/*-------------- End Carousel -------------*/


/* ----------------- Start footer------------- */
.list-unstyled > li > a{
	color:#fff;
}

.list-unstyled > li > a:hover{
	color:#fad41b;
}

.footer-tittle{
	color:#fad41b;
}

.hr-footer{
	border:1px solid #fad41b;
	width:100%;
}

.footer-sosmed {padding-right:15px;padding-left:0;text-align:right;border-left:0}

.footer-sosmed > li{
	display:inline-block;
	width:2em
}
.footer-sosmed > li >a:hover .image{
	opacity: 0.7;
}

/* ----------------- End footer------------- */


/*-------------- Start Media Screen max-width:750px -------------*/

@media screen and (max-width:750px){
	.logo img{
		width:30vw;
	}
	
	.pt-3, .py-3 {
		padding-top: 0rem!important;
	}
	#mainNav {
		-webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
		background-color: #fad41b;
		-webkit-transition: background-color .2s ease;
		transition: background-color .2s ease;
	}
	
	.navbar-light .navbar-toggler {
		color: rgba(0,0,0,.5);
		background-color: #fff;
		border-color: rgba(0,0,0,.1);
	}
	.navbar-light .navbar-toggler:hover {
		color: rgba(0,0,0,.5);
		background-color: #0c6176;
		border-color: rgba(0,0,0,.1);
	}
	
	#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
		color: #ffffff;
		text-align: center;
	}
	
	.navbar-collapse {
		background-color: #000;
		padding: 3vh;
		background-color: #0c6176;
		color: #fff;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		text-align: center;
	}
	
	.btn-group-sm>.btn, .btn-sm {
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
		margin-top: 1em;
		border-radius: .2rem;
	}
	
	.size-50{
		text-align:center;
	}
	.wrapper{
		text-align:center;
	}
	.one_third{
		margin-bottom:5vw;
	}
	figcaption{
		margin-left:3.5em;
	}
	
	.footer-sosmed {
		padding-right:0px;
		padding-left:0;
		text-align:center;
		border-left:0;
		padding-top:2em;
	}

}

/*-------------- End Media Screen max-width:750px -------------*/


/*-------------- Owl Carousel -------------*/
.mitra-item{
	width:10em;
}

#demos .owl-carousel{margin:2rem 0}#demos .owl-carousel .item{height:10rem;background:#4DC7A0;padding:1rem}#demos .owl-carousel .item h4{color:#FFF;font-weight:400;margin-top:0rem}#demos .owl-carousel .item-video{height:300px}

@media (max-width: 768px){#hero{padding:2rem 0}#hero h1{color:#FFF;font-weight:300;font-size:2rem}#hero h4{color:#FFF;font-weight:300;font-size:1.2rem;margin-bottom:2rem}}@media only screen and (max-width: 40em){#hero .owl-logo{display:none}}.home-demo{padding:2rem 0}.home-demo .item{background:#ff3f4d}.home-demo h3{text-align:center;color:#808080;margin:2rem}.home-demo h2{color:#FFF;text-align:center;padding:5rem 0;margin:0;font-style:italic;font-weight:300}.home-demo .owl-dot.active span{background:#ff3f4d}#features .feature{margin:2rem 0 6rem}#features h2{font-weight:300;margin-top:0;margin-bottom:1rem}#features img{display:block;margin:0 auto}

/*-------------- -----------------------------*/